<!DOCTYPE html>

<html>
	<head>
			<title>To do App</title>
	</head>
	<body>
		<h1>
			To do app
		</h1>

		{{{body}}}

		<div>
			<form>
				<input type="text">
				<input type="submit" value="Submit">
			</form>
		</div>
	</body>
</html>
